@tailwind base;
@tailwind components;
@tailwind utilities;

$headings: 1, 2, 3, 4, 5, 6;
$base-heading-size: 2.4em;
@each $level in $headings {
    h#{$level} {
        font-size: $base-heading-size - $level * 0.25;
        line-height: 1.4em;
        font-weight: 700;
    }
}

.font-serif {
    font-family: Book Antiqua,Palatino,Palatino Linotype,Palatino LT STD,Georgia,serif;
}

.nav-article-topic {
    @apply text-gray-600;
    @apply border-gray-600;
    @apply bg-gray-100;
    @apply uppercase;
    @apply font-bold;
    cursor: pointer;

    &:hover {
        @apply text-gray-800;
        @apply border-gray-800;
    }

    &.active {
        @apply bg-gray-800;
        @apply border-gray-800;
        @apply text-gray-100;
    }
}

.article-card {
    @apply mb-12;

    $article-image-size: 160px;
    .image-cover {
        text-align: center;
        position: relative;
        @apply bg-gray-600;

        &:after {
            content: "Loading...";
            text-align: center;
            line-height: $article-image-size;
            @apply text-gray-300;
        }

        img {
            display: block;
            width: auto;
            max-width: inherit;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            transform: translate(-50%, -50%);
        }
    }
}

.article-content {
    p {
        @apply mb-4;
    }
    a {
        @apply text-blue-600;
    }
}

.three-items {
    div {
        flex: 1;
    }
}

.two-columns {
    column-count: 2;
}

.three-columns {
    column-count: 3;
}

.four-columns {
    column-count: 4;
}

.five-columns {
    column-count: 5;
}

.six-columns {
    column-count: 6;
}

.eight-columns {
    column-count: 8;
}